
<!--Sample App--->

<div class = "center jumbotron">
    <h1> Welcome to the Firecaller Blog</h1>
    <h2>
        This is the home page for the Firecaller Blog, a blog for those that are a little bit into creativity or just want to meet some interesting people. 
    </h2>
   <%= link_to"Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= image_tag("image1.jpg", :alt => "logo") %>